<%- include('../partials/header') %>


<h3>Flight <%= flight.flightNo %></h3>

<form action = "/flights/<%= flight._id %>/tickets" method = "POST">
    <div>
        <h2>Add a Ticket</h2>
        <div>
            <label>Seat No.:</label>
            <input type="text" required pattern="[A-F][1-9]\d">
        </div>
        <div>
            <label>Price:</label>
            <input type="number">
        </div>
        <input type="submit" value="Add Ticket">
    </div>
</form>

<div>
    <a href="/flights/<%= flight._id %>">FLIGHT DETAILS</a>
    <a href="/flights">ALL FLIGHTS</a>  
</div>

<%- include('../partials/footer') %>