<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>My Movies Database</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Cast</th>
            <th>Showing</th>
        </tr>
        <%= movies.forEach(function(movie, idx) {%>
        <tr>
            <td><%= movie.title %></td>
            <td><%= movie.releaseYear %></td>
            <td><%= movie.mpaaRating %></td>
            <td><%= movie.cast.join(', ') %></td>
            <td><%= movie.nowShowing ? 'yes' : 'no' %></td>
        </tr>
    <% }) %>
    </table>
    <a href="/movies/new">Add a Movie</a>
</body>
</html>