<%- include('../partials/header') %>

<div>
  <div>Flight ID: <%= flight._id %></div>
  <div>Airport: <%= flight.airport %></div> 
  <div>Airline: <%= flight.airline %></div>  
  <div>Flight No.: <%= flight.flightNo %></div> 
</div> 
<br>
<br>
  
<h4> Tickets </h4>
<%tickets.forEach((tix, idx) => { %>
  <div>
    <div>Seat #: <%= tix.seat %></div>
    <div>Price: <%= tix.price %></div> 
  </div>
<% }) %>
<a href="/flights/<%= flight._id %>/tickets/new">ADD TICKET</a>

<h4> Destination </h4>
<% flight.destinations.forEach((destination, idx) => { %>
  <div>
    <div>Airport: <%= destination.airport %></div>
    <div>Arrival Date: <%= destination.arrival %></div> 
  </div>
  <% }) %> 

<h4>Add Destination</h4>
<form method="POST" action="/flights/<%= flight.id %>/destinations">
  <label>Airport:</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DAL">DAL</option>
      <option value="LAX">LAX</option>
      <option value="SEA">SEA</option>
    </select>
  <label >Arrival Date/Time:
    <input type="datetime-local" name="arrival">
  </label>
    <input type="submit" value="Add Destination">
</form>


<%- include('../partials/footer') %>